In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("C:/Users/Asus/Downloads/part1.csv")

data.head(5)

,Timestamp,Industry,Annual_Salary,Additional_Monetary_Compensation,Currency,Country_Of_Employment
0,2021-04-27 11:02:09.743,Education (Higher Education),55000.0,0.0,USD,United States
1,2021-04-27 11:02:21.562,Computing or Tech,54600.0,4000.0,GBP,United Kingdom
2,2021-04-27 11:02:38.125,"Accounting, Banking & Finance",34000.0,NaN,USD,US
3,2021-04-27 11:02:40.643,Nonprofits,62000.0,3000.0,USD,USA
4,2021-04-27 11:02:41.793,"Accounting, Banking & Finance",60000.0,7000.0,USD,US

In [49]:
data.shape

(27597, 6)

In [3]:
data['Industry'].value_counts()    # Total values in the industry column - 1195

Computing or Tech                                   4608
Education (Higher Education)                        2436
Nonprofits                                          2391
Government and Public Administration                1871
Health care                                         1857
                                                    ...
Food Service --- Baking                                1
Publishing (academic)                                  1
Eap                                                    1
Professional Public Librarian                          1
Clinical Research Manager - academic institution       1
Name: Industry, Length: 1195, dtype: int64

In [4]:
data['Industry'].isnull().sum()

69

In [5]:
data['Industry'].replace(np.nan, 'INVALID',inplace=True)

In [47]:
data['Annual_Salary'].isnull().sum()

0

In [ ]:
data[""]

In [7]:
data['Industry'].value_counts(sort=True)

Computing or Tech                                   4608
Education (Higher Education)                        2436
Nonprofits                                          2391
Government and Public Administration                1871
Health care                                         1857
                                                    ...
Food Service --- Baking                                1
Publishing (academic)                                  1
Eap                                                    1
Professional Public Librarian                          1
Clinical Research Manager - academic institution       1
Name: Industry, Length: 1196, dtype: int64

In [46]:
data["Annual_Salary"].isnull().sum()

0

In [48]:
data["Additional_Monetary_Compensation"].isnull().sum()   # Checking for null values in the column

7142

In [50]:
data["Additional_Monetary_Compensation"].replace(np.nan,0,inplace=True)

In [51]:
data["Additional_Monetary_Compensation"].isnull().any()

False

In [52]:
data["Total_Salary"]=data["Annual_Salary"] + data["Additional_Monetary_Compensation"]

In [57]:
data=data.iloc[:,[0,1,2,3,6,4,5]]

In [58]:
data.head()

,Timestamp,Industry,Annual_Salary,Additional_Monetary_Compensation,Total_Salary,Currency,Country_Of_Employment
0,2021-04-27 11:02:09.743,Education (Higher Education),55000.0,0.0,55000.0,USD,United States
1,2021-04-27 11:02:21.562,Computing or Tech,54600.0,4000.0,58600.0,GBP,United Kingdom
2,2021-04-27 11:02:38.125,"Accounting, Banking & Finance",34000.0,0.0,34000.0,USD,US
3,2021-04-27 11:02:40.643,Nonprofits,62000.0,3000.0,65000.0,USD,USA
4,2021-04-27 11:02:41.793,"Accounting, Banking & Finance",60000.0,7000.0,67000.0,USD,US

In [59]:
data["Currency"].replace("Other","USD",inplace=True)

In [60]:
data["Currency"].unique()

array(['USD', 'GBP', 'CAD', 'EUR', 'AUD/NZD', 'CHF', 'ZAR', 'SEK', 'HKD',
       'JPY'], dtype=object)

In [8]:
data['Country_Of_Employment'].value_counts()

United States                                                    8842
USA                                                              7842
US                                                               2571
Canada                                                           1549
United States                                                     652
                                                                 ...
Can                                                                 1
Sri Lanka                                                           1
Worldwide (based in US but short term trips aroudn the world)       1
Danmark                                                             1
U.S.A                                                               1
Name: Country_Of_Employment, Length: 364, dtype: int64

In [9]:
pip install textblob

Requirement already satisfied: textblob in c:\users\asus\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\asus\anaconda3\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2022.3.15)
Requirement already satisfied: joblib in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: tqdm in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: click in c:\users\asus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: colorama in c:\users\asus\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [18]:
from textblob import TextBlob
from difflib import SequenceMatcher

In [11]:
def func(list):
    
    for i in range(len(list)):

        word = TextBlob(list[i])

        result=word.correct()

        print(result)

In [12]:
func(data['Country_Of_Employment'].unique())

United States
United Kingdom
of
USA
Canada
United Kingdom
us
of
Scotland
U.S.
United States
The Netherlands
Australia
Pain
us
Sa
England
finland
United States of America
France
United states
Scotland
USA
United states
Germany
of
united states
Ireland
India
Australia
K
United States of America
U.S.
canada
Canada
U.S>
ISA
Argentina
Great Britain
of
United State
U.S.A
Denmark
U.S.A.
America
Netherlands
netherlands
England
united states of america
Ireland
Switzerland
Netherlands
Bermuda
Is
The United States
United State of America
Germany
Malaysia
Mexico
United Stated
South Africa
Belgium
Northern Ireland
u.s.
South Africa
UNITED STATES
united States
Sweden
Long Long
Wait
Norway
Ri lank
Contracts
USA-- Virgin Islands
United States
England/of
U.S
He don't get raises, we get quarterly bones, but they periodically masses income in the area you work, so I got a raise because a rd party assessment showed I was paid too little for the area we were located
Unites States
Sa
U.S.A.
England, of.
Greece
Japan
U. S.
Britain
United Rates
Japan
Austria
Brazil
Canada, Ottawa, ontario
Global
Sweden
United States of American
FRANCE
United States
United Kingdom (England)
Worldwide (based in of but short term trips around the world)
CANADA
Canada
Hungary
Luxemburg
United Rates of America
ireland
United States (I work from home and my clients are all over the of/Canada/of
Colombia
CANADA
United States
germany
United States
United States
United States
United Kingdom.
Mexico
New Zealand
Trinidad and Tobago
Unites States
United States
United kingdom
Layman Islands
united States
An
I am located in Canada but I work for a company in the of
United kingdom
United states
Knives States
United States of American
U.A.
Czech republic
Czechia
Latvia
Inland
U. S.
Huerta Rico
of of A
Swandam
United States of america
United Arab Pirates
Bangladesh
Pain
U.K.
Mania
U.of
United Window
United Status
New Zealand
Currently finance
 U.S.
Serbia
Philippines
Russia
Poland
UXZ
czech republic
England, of
Turkey
And
Huerta Rico
Canada and USA
Catalonia
$2,175.84/year is deduced for benefits
up
France
Italy (South)
Jersey, Channel islands
K
China
Virginia
Afghanistan
Israel
U.s.
Great Britain
U.s.a.
USS
Denmark
United States
New Zealand Aotearoa
U.K.
Hartford
Japan, of Sov position
Canada
United Stares
New zealand
Mainland China
I.S.
of (Northern Ireland)
of for U.S. company
 of
Unites states
of
Is
Long Long
Taiwan
And
Unite States
australia
The of
united states
The Netherlands
Cambodia
United states of America
Vietnam
Remote
Singapore
South More
Czech Republic
Thailand
Bangladesh
Lithuania
Eritrea
Indonesia
Singapore
For the United States government, but posted overseas
of
Switzerland
United Kingdom
Italy
 New Zealand
Cuba
Slovenia
Australia
Note d'Voice
united kingdom
From Mania, but for an of based company
Somalia
Tales (United Kingdom)
England, B
Czech Republic
UnitedStates
Ri Vanka
spain
Denmark
U.K. (northern England)
U.K
of
the Netherlands
Nederland
Slovakia
United States of america
Portugal
England, United Kingdom
Pierre One
England
United states
UAE
Belgium
bonus based on meeting yearly goals set w/ my supervisor
International
The Bahamas
Tales
I earn commission on sales. Of I meet quota, I'm guaranteed another ask min. Last year i earned an additional ask. It's not uncommon for people in my space to earn 100k+ after commission.
Costa Rich
 United States
United Statues
Untied States
USA (company is based in a of territory, I work remote)
While
denmark
of (England)
of, remote
Scotland, of
USAB
United States
Norway
Later
United States
Remote (philippines)
Brazil
Unites kingdom
South africa
Portugal
united stated
United States Of America
Siberia
Panama
Northern Ireland
england
SWITZERLAND
Austria, but I work remote for a Dutch/British company
I work for an of based company but I'm from Argentina.
I was brought in on this salary to help with the EHR and very quickly was promoted to current position but compensation was not altered.
United States
U. S
Long
United states of America
Uruguay
Pakistan
Trail
USA tomorrow
United States
n/a (remote from wherever I want)
singapore
of got employee overseas, country withheld
us
Malaysia
Agenda
Malta
Maude Arabia
Bulgaria
Astoria
Morocco
new zealand
Africa
Ecuador
Zimbabwe
Than
An Francisco
Sat
🇺🇸
Luxemburg
United Stated
of
Tales, of
United Stares
Croatia
England, United Kingdom
United states
USaa
up
South More
The netherlands
Ukraine
america
switzerland
United States- Huerta Rico
From New Zealand but on projects across APAC
Y
United y
Tales (of)
Isle of An
Northern Ireland, United Kingdom
europe
California
of, but for locally fully remote company
Australian
Mexico
Jamaica
up
USD
the netherlands
USA, but for foreign go't
japan
Sonya
Jordan
United States
ARGENTINA BUT of ORG of of THAILAND
United states of america
is
I work for a UAE-based organization, though I am personally in the of.
United  States
france
Aotearoa New Zealand
na
Policy
Typhus
long on
United States is America
Lichtenstein
Company in Germany. I work from Pakistan.
croats
Canada
ENGLAND
United States of American
U.S.A

In [61]:
correct_names = {'United States of America','United Kingdom','Australia','Canada','Scotland','The Netherlands','England',
                'Finland','France','Germany','Ireland','India','Argentina','Great Britain','Denmark','Switzerland','Bermuda',
                'Malaysia','Mexico','Belgium','Sweden','South Africa','Norway','Sri Lanka','Greece','Japan','Austria','Brazil',
                'Hungary','Luxembourg','Columbia','Mexico','New Zealand','Trinidad and Tobago','Czech Republic','Latvia','Puerto Rico',
                'Bangladesh','Serbia','Philippines','Russia','Poland','Turkey','Virgin Islands','China','Cambodia','Vietnam',
                'Singapore','Thailand','Lithuania','Indonesia','Italy','Slovenia','Cuba'}

 #let's specify the function that select most similar word
def get_most_similar(word,wordlist):
    top_similarity = 0.0
    most_similar_word = word
    for candidate in wordlist:
        similarity = SequenceMatcher(None,word,candidate).ratio()
        if similarity > top_similarity:
            top_similarity = similarity
            most_similar_word = candidate
    return most_similar_word
...
 #now apply this function over 'country' column in dataframe

Ellipsis

In [62]:
data['Country_Of_Employment'].head(10).apply(lambda x: get_most_similar(x,correct_names))

0    United States of America
1              United Kingdom
2                      Sweden
3                South Africa
4                      Sweden
5                South Africa
6                South Africa
7    United States of America
8                      Sweden
9    United States of America
Name: Country_Of_Employment, dtype: object