# Task-1

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [20]:
df1 = pd.read_csv("C:/Users/Asus/Downloads/archive2/imdb_top_1000.csv")

df1.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [21]:
df1.shape

(1000, 16)

In [22]:
df1.columns

Index(['Poster_Link', 'Series_Title', 'Released_Year', 'Certificate',
       'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Meta_score', 'Director',
       'Star1', 'Star2', 'Star3', 'Star4', 'No_of_Votes', 'Gross'],
      dtype='object')

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    1000 non-null   object
 1   Series_Title   1000 non-null   object
 2   Released_Year  1000 non-null   object
 3   Certificate    899 non-null    object
 4   Runtime        1000 non-null   object
 5   Genre          1000 non-null   object
 6   IMDB_Rating    1000 non-null   float64
 7   Overview       1000 non-null   object
 8   Meta_score     843 non-null    float64
 9   Director       1000 non-null   object
 10  Star1          1000 non-null   object
 11  Star2          1000 non-null   object
 12  Star3          1000 non-null   object
 13  Star4          1000 non-null   object
 14  No_of_Votes    1000 non-null   int64
 15  Gross          831 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 125.1+ KB

In [36]:
df1['Runtime']=df1['Runtime'].str.replace('min','')

In [43]:
df1.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [41]:
df1['Runtime']=df1['Runtime'].astype('int64')

In [96]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 0 to 999
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Poster_Link    999 non-null    object
 1   Series_Title   999 non-null    object
 2   Released_Year  999 non-null    object
 3   Certificate    898 non-null    object
 4   Runtime        999 non-null    int64
 5   Genre          999 non-null    object
 6   IMDB_Rating    999 non-null    float64
 7   Overview       999 non-null    object
 8   Meta_score     843 non-null    float64
 9   Director       999 non-null    object
 10  Star1          999 non-null    object
 11  Star2          999 non-null    object
 12  Star3          999 non-null    object
 13  Star4          999 non-null    object
 14  No_of_Votes    999 non-null    int64
 15  Gross          830 non-null    object
dtypes: float64(2), int64(2), object(12)
memory usage: 165.0+ KB

In [59]:
df1.shape

(1000, 16)

In [69]:
df1=df1.drop_duplicates(subset='Series_Title')

In [85]:
df1.shape

(999, 16)

In [63]:
print(len(df1['Series_Title'].unique()))

999

In [44]:
import json as js

In [45]:
# opening json file 

f=open("C:/Users/Asus/Downloads/archive1/imdb_data.json",encoding ="utf-8")

In [46]:
data=js.load(f)

In [47]:
print(type(data))

<class 'list'>

In [48]:
df2 =pd.DataFrame(data)

In [49]:
print(df2.head())

   id               original_title  year date_published  \
0   0                   Miss Jerry  1894     09-10-1894
1   1  The Story of the Kelly Gang  1906     26-12-1906
2   2               Den sorte drøm  1911     19-08-1911
3   3                    Cleopatra  1912     13-11-1912
4   4                    L'Inferno  1911     06-03-1911

                       genre  duration           country  avg_vote  votes  \
0                    Romance        45               USA       5.9    154
1    Biography, Crime, Drama        70         Australia       6.1    589
2                      Drama        53  Germany, Denmark       5.8    188
3             Drama, History       100               USA       5.2    446
4  Adventure, Drama, Fantasy        68             Italy       7.0   2237

              production_company
0     Alexander Black Photoplays
1                 J. and N. Tait
2                       Fotorama
3  Helen Gardner Picture Players
4                    Milano Film

In [50]:
print(df2.shape)

(85855, 10)

In [51]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  85855 non-null  int64
 1   original_title      85855 non-null  object
 2   year                85855 non-null  object
 3   date_published      85855 non-null  object
 4   genre               85855 non-null  object
 5   duration            85855 non-null  int64
 6   country             85855 non-null  object
 7   avg_vote            85855 non-null  float64
 8   votes               85855 non-null  int64
 9   production_company  85855 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 6.6+ MB

In [ ]:
df2.columns

In [52]:
df2.rename(columns = {'original_title':'Series_Title','year':'Released_Year','genre':'Genre','duration':'Runtime','votes':'No_of_Votes'}, inplace = True)

In [95]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80851 entries, 0 to 85854
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  80851 non-null  int64
 1   Series_Title        80851 non-null  object
 2   Released_Year       80851 non-null  object
 3   date_published      80851 non-null  object
 4   Genre               80851 non-null  object
 5   Runtime             80851 non-null  int64
 6   country             80851 non-null  object
 7   avg_vote            80851 non-null  float64
 8   No_of_Votes         80851 non-null  int64
 9   production_company  80851 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 8.8+ MB

In [58]:
df2.shape

(85855, 10)

In [71]:
df2=df2.drop_duplicates(subset='Series_Title')

In [72]:
df2.shape

(80851, 10)

In [84]:
print(len(df2['Series_Title'].unique()))

80851

In [105]:
# Merging two datasets 

pd.Series(list(set(df1['Series_Title']).intersection(set(df2['Series_Title']))))

0                        The Green Mile
1                 Death Note: Desu nôto
2      The Treasure of the Sierra Madre
3                                 Queen
4                   Edward Scissorhands
                     ...
974                 Gake no ue no Ponyo
975                      V for Vendetta
976                     The Ladykillers
977                      A Star Is Born
978          The World's Fastest Indian
Length: 979, dtype: object

In [106]:
df3=pd.concat([df1,df2],join='inner')

In [107]:
print(df3.shape)

(81850, 5)